<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<head>
    <title>User Manager</title>
</head>
<body>
    <center>
        <h1>User Manager</h1>
    </center>
    <div align="center">
        <form action="#" th:action="@{/save}" th:object="${user}" method="post">
            <table border="0" cellpadding="5">
                <caption>
                    <h2>Edit User</h2>
                </caption>
                <tr>
                    <th>ID: </th>
                    <td>
                        <input type="text" th:field="*{id}" readonly="readonly" />
                    </td>
                </tr>
                <tr>
                    <th>Login: </th>
                    <td>
                        <input type="text" th:field="*{login}"/>
                    </td>
                </tr>
                <tr>
                    <th>Password: </th>
                    <td>
                        <input type="text" th:field="*{password}"/>
                    </td>
                </tr>
                <tr>
                    <th>Name: </th>
                    <td>
                        <input type="text" th:field="*{username}"/>
                    </td>
                </tr>
                <tr>
                    <th>Role: </th>
                    <td>
                        <input type="text" th:field="*{roles}"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="Save" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
